.container {
  max-width: 800px;
  margin: 20px auto;
}

.full-width {
  width: 100%;
}

.post-list mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-content h3 {
  margin: 0;
}

.post-content p {
  margin: 0;
  color: gray;
}
