.container {
  max-width: 500px;
  margin: 30px auto;
}

.full-width {
  width: 100%;
}

.todo-card {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
